.example-01 span {
    color: red;
}
.example-01 p {
    color: green;
}
.example-01 p>span {
    color: inherit;
}


.example-02 span {
    color: red;
}
.example-02 {
    color: blue;
    border: solid;
    border-width: 3px;
    border-color: blueviolet;
}
.example-02 p {
    border: inherit;
    color: green;
    border-width: inherit;
    border-color: inherit;
}


.example-03 span {
    color: red;
}
.example-03 p {
    color: blue;
}
.example-03 p>span {
    color: initial;
}


.example-04 span {
    color: red;
}
.example-04 {
    color: blue;
    border: solid;
    border-width: 3px;
    border-color: blueviolet;
}
.example-04 p {
    all: unset;
}


.example-05  {
    color: red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.example-05 h2:first-child {
    all: unset;
}

.example-05 h2+h2 {
    all: revert;
}


.example-06  { 
    font-family: 'Roboto';
    font-style: normal;
}

.example-06 span {
    color: greenyellow !important;
}
#mvp {
    color: goldenrod;
}
span {
    color: aquamarine;
}